@import './variables';

// Text
.bold {
  font-weight: 700;
}

.text-bigger {
  font-size: $text-bigger;
  line-height: 34px;
}

.text-smaller {
  font-size: $text-smaller;
  line-height: 24px;
}

.header-section {
  font-size: $header-text;
  line-height: 1;
}

.text-center-container {
  text-align: center;
  margin: 0 auto;
}

// Colors
.color-green {
  color: $color-green;
}

.color-red {
  color: $color-red;
}

.color-blue-light {
  color: $color-blue-light;
}

.color-blue {
  color: $color-blue;
}

// Sections

.mg-top-5rem {
  margin-top: 5rem;
}

.mg-top-3rem {
  margin-top: 3rem;
}

.mg-top-2rem {
  margin-top: 2rem;
}

.width-50 {
  width: 50%;
}

.width-100 {
  width: 100%;
}

.buttons-one-line {
  display: flex;
  justify-content: center;

  .get-started {
    margin-right: 2rem;
  }

  .get-started, .learn-more {
    width: 150px;
  }
}
