// Colors
$color-orange: #F3C6BD;
$color-orange-light: #FCF0E3;
$color-blue: #3040C4;
$color-blue-light: #0189D1;
$color-blue-background: #00A1C6;
$color-grey: #F4F5F7;
$color-grey-dark: #F4F5F7;
$color-green: #009B4D;
$color-red: #F1592B;
$color-black-light: #2B292D;


// Fonts
$main-header-text: 4.5rem;
$text-bigger: 2.4rem;
$text-smaller: 1.6rem;

$header-text: 4rem;